.team-section {
    position: relative;
}
.team-banner {
    font-size: 7.8125vw;
    padding-top: 6.77vw;
    padding-bottom: 6.77vw;
    background-color: #1c1818;
    color: var(--red);
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.team-banner-text-top {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -12vw;
    right: 10%;
    left: 10%;
}

.team-banner-text-center {
    position: absolute;
    right: 10%;
    left: 10%;
    bottom: -18.7vw;
}

.team-banner-text-bottom {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -25.6vw;
    right: 10%;
    left: 10%;
}

.team-banner-text-mobile {
    display: none;
}
.team-banner-text-bottom-mac {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -25.6vw;
    right: 10%;
    left: 10%;
}

.team-banner-text-mobile-mac {
    display: none;
}

.team-small-cross-cont-one {
    position: absolute;
    right: 20.833vw;
    z-index: 100;
    top: 19vw;
}
.team-small-cross-one {
    background: var(--red);
    height: 5.2083vw;
    position: relative;
    width: 1.0416vw;
}
.team-small-cross-one:after {
    background: var(--red);
    content: "";
    height: 1.0416vw;
    left: -2.08333vw;
    position: absolute;
    top: 2.08333vw;
    width: 5.2083vw;
}

.team-small-cross-cont-two {
    position: absolute;
    left: 18.229vw;
    z-index: 100;
    top: 45vw;
}
.team-small-cross-two {
    background: var(--red);
    height: 5.2083vw;
    position: relative;
    width: 1.0416vw;
}
.team-small-cross-two:after {
    background: var(--red);
    content: "";
    height: 1.0416vw;
    left: -2.08333vw;
    position: absolute;
    top: 2.08333vw;
    width: 5.2083vw;
}

.team-cont {
    display: flex;
    justify-content: center;
    padding: 4vw 0px 5vw 0px;
    flex-direction: column;
    align-items: center;
}

.team-wrapper {
    max-width: 1500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.team-heading {
    font-size: 1.5vw;
    padding-bottom: 3vw;
}

#orange {
    font-size: 1.5vw;
}

.profiles {
    margin: 15px;
}

.profile-img {
    width: 10.416vw;
    height: 10.416vw;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--white);
    display: inline-block;
    vertical-align: middle;
    border: 2px solid var(--black);
}
.profile-img img {
    width: 100%;
}

.profile-position {
    font-weight: 900;
    margin-top: 12px;
    color: var(--red);
    font-size: 16px;
}
.profile-name {
    margin-top: 6px;
    font-size: 15px;
}

@media only screen and (max-device-width: 450px) {
    .team-banner {
        font-size: 10vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
    }

    .team-banner-text-top {
        top: 150px;
    }

    .team-banner-text-center {
        top: 188px;
    }

    .team-banner-text-bottom {
        bottom: -187px;
    }

    .team-banner-text-mobile {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -226px;
    }

    .team-banner-text-bottom-mac {
        bottom: -208px;
    }

    .team-banner-text-mobile-mac {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -247px;
    }

    .team-small-cross-cont-one {
        right: 12vw;
        top: 29vw;
    }

    .team-small-cross-cont-two {
        position: absolute;
        left: 15vw;
        z-index: 100;
        top: 120vw;
    }

    .team-cont {
        padding-top: 8vw;
    }
    .team-wrapper {
        align-items: flex-start;
    }
    .team-heading {
        font-size: 3.8vw;
        padding-bottom: 3vw;
    }

    #orange {
        font-size: 3.8vw;
    }

    .profiles {
        margin: 10px;
        width: 40%;
    }

    .profile-img {
        width: 120px;
        height: 120px;
    }
    .profile-img img {
        width: 100%;
    }

    .profile-position {
        font-weight: 900;
        margin-top: 10px;
        color: var(--red);
        font-size: 3.6vw;
    }
    .profile-name {
        margin-top: 5px;
        font-size: 3.5vw;
    }
    @-moz-document url-prefix() {
        .team-banner-text-top {
            top: 150px;
        }

        .team-banner-text-center {
            top: 188px;
        }

        .team-banner-text-bottom {
            bottom: -192px;
        }

        .team-banner-text-mobile {
            display: block;
            position: absolute;
            right: 10%;
            left: 10%;
            bottom: -230px;
        }

        .team-banner-text-bottom-mac {
            bottom: -188px;
        }

        .team-banner-text-mobile-mac {
            display: block;
            position: absolute;
            right: 10%;
            left: 10%;
            bottom: -230px;
        }
    }
}
@media only screen and (max-device-width: 412px) {
    .team-banner-text-top {
        top: 160px;
    }

    .team-banner-text-center {
        top: 198px;
    }

    .team-banner-text-bottom {
        bottom: -197px;
    }

    .team-banner-text-mobile {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -236px;
    }
    @-moz-document url-prefix() {
        .team-banner-text-top {
            top: 160px;
        }

        .team-banner-text-center {
            top: 198px;
        }

        .team-banner-text-bottom {
            bottom: -203px;
        }

        .team-banner-text-mobile {
            display: block;
            position: absolute;
            right: 10%;
            left: 10%;
            bottom: -241px;
        }
    }
}

@media only screen and (max-device-width: 384px) {
    .team-banner-text-top {
        top: 150px;
    }

    .team-banner-text-center {
        top: 188px;
    }

    .team-banner-text-bottom {
        bottom: -188px;
    }

    .team-banner-text-mobile {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -226px;
    }
    .team-banner-text-bottom-mac {
        bottom: -200px;
    }

    .team-banner-text-mobile-mac {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -237px;
    }
    @-moz-document url-prefix() {
        .team-banner-text-top {
            top: 150px;
        }

        .team-banner-text-center {
            top: 187px;
        }

        .team-banner-text-bottom {
            bottom: -185px;
        }

        .team-banner-text-mobile {
            display: block;
            position: absolute;
            right: 10%;
            left: 10%;
            bottom: -222px;
        }
    }
}
@media only screen and (max-device-width: 360px) {
    .team-banner-text-top {
        top: 150px;
    }

    .team-banner-text-center {
        top: 188px;
    }

    .team-banner-text-bottom {
        bottom: -188px;
    }

    .team-banner-text-mobile {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -226px;
    }
    @-moz-document url-prefix() {
        .team-banner-text-top {
            top: 150px;
        }

        .team-banner-text-center {
            top: 185px;
        }

        .team-banner-text-bottom {
            bottom: -192px;
        }

        .team-banner-text-mobile {
            display: block;
            position: absolute;
            right: 10%;
            left: 10%;
            bottom: -228px;
        }
    }
}
