.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 3.64vw;
    padding: 5.05vw 0 0 0;
}

.heading-container-resp {
    display: none;
}

.main-heading {
    font-size: 20vw;
    letter-spacing: 0.6vw;
    color: var(--black);
    white-space: nowrap;
    height: 15.2vw;
}
#sub-heading {
    background-color: var(--white);
    position: absolute;
    padding: 0.625vw 10px 0.46875vw 10px;
    font-size: 1.14vw;
    color: var(--red);
}
.timer-cont {
    font-size: 1.5625vw;
    display: flex;
    flex-direction: column;
    padding-top: 2.083vw;
    letter-spacing: 1.2px;
    color: var(--black);
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timer > div {
    display: flex;
    flex-direction: column;
    padding: 2.08vw 6.25vw 2.08vw 6.25vw;
    align-items: center;
    text-align: center;
    letter-spacing: 1.2px;
    color: var(--black);
}

span {
    font-size: 4.6875vw;
    color: var(--red);
    padding-bottom: 15px;
}

.newsletter {
    display: flex;
    justify-content: center;
    margin-top: 1.5625vw;
    margin-bottom: 3.125vw;
}

.newsletter-btn {
    color: var(--red);
    font-size: 1.406vw;
    border: 2px var(--black) solid;
    padding: 0.677vw 1.302vw 0.5208vw 1.302vw;
    letter-spacing: 1px;
    /* transition: 0.25s ease; */
}

.newsletter-btn:hover {
    background-color: var(--red);
    color: var(--white);
    border: 2px var(--red) solid;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}
