.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 3.64vw;
    padding: 9vw 0 0 0;
}

.heading-container-resp {
    display: none;
}

.main-heading {
    font-size: 20vw;
    letter-spacing: 0.6vw;
    color: var(--black);
    white-space: nowrap;
    height: 15.2vw;
}

#sub-heading {
    background-color: var(--white);
    position: absolute;
    padding: 0.625vw 10px 0.46875vw 10px;
    font-size: 1.14vw;
    color: var(--red);
}

.heading-container-mac {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5vw 0 0 0;
}

.heading-container-resp-mac {
    display: none;
}

.main-heading-mac {
    font-size: 20vw;
    letter-spacing: 0.6vw;
    color: var(--black);
    white-space: nowrap;
}
#sub-heading-mac {
    background-color: var(--white);
    position: absolute;
    padding: 0.625vw 20px 0.46875vw 20px;
    font-size: 1.14vw;
    color: var(--red);
}

.timer-cont {
    font-size: 1.5625vw;
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
    letter-spacing: 1.2px;
    color: var(--black);
}
.timer-cont-mac {
    font-size: 1.5625vw;
    display: flex;
    flex-direction: column;
    letter-spacing: 1.2px;
    color: var(--black);
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timer > div {
    display: flex;
    flex-direction: column;
    padding: 3.5vw 6.25vw 2.08vw 6.25vw;
    align-items: center;
    text-align: center;
    letter-spacing: 1.2px;
    color: var(--black);
}

.timer-mac {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timer-mac > div {
    display: flex;
    flex-direction: column;
    padding: 2vw 6.25vw 2.08vw 6.25vw;
    align-items: center;
    text-align: center;
    letter-spacing: 1.2px;
    color: var(--black);
}

#nums {
    font-size: 4.6875vw;
    color: var(--red);
    padding-bottom: 15px;
}

.newsletter {
    display: flex;
    justify-content: center;
    margin-top: 1.5625vw;
    margin-bottom: 4vw;
}

.newsletter-btn {
    color: var(--red);
    font-size: 1.406vw;
    border: 2px var(--black) solid;
    padding: 0.677vw 1.302vw 0.5208vw 1.302vw;
    letter-spacing: 1px;
    cursor: pointer;
    /* transition: 0.25s ease; */
}

.newsletter-btn:hover {
    background-color: var(--red);
    color: var(--white);
    border: 2px var(--red) solid;
}

.newsletter-btn-mac {
    color: var(--red);
    font-size: 1.406vw;
    border: 2px var(--black) solid;
    padding: 0.677vw 1.302vw 0.677vw 1.302vw;
    letter-spacing: 1px;
    cursor: pointer;
    /* transition: 0.25s ease; */
}

.newsletter-btn-mac:hover {
    background-color: var(--red);
    color: var(--white);
    border: 2px var(--red) solid;
}
@-moz-document url-prefix() {
    .main-heading {
        height: 19.2vw;
    }
    .heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1vw;
        padding: 7vw 0 0 0;
    }
    .main-heading-mac {
        height: 19.2vw;
    }
    .heading-container-mac {
        padding: 7vw 0 3vw 0;
    }
    .timer-mac > div {
        padding: 2vw 6.25vw 3vw 6.25vw;
    }
}
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .heading-container-mac {
        padding: 10vw 0 0 0;
    }
    @-moz-document url-prefix() {
        .heading-container-mac {
            padding: 12vw 0 5vw 0;
        }
    }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .heading-container-mac {
        padding: 10vw 0 0 0;
    }
    @-moz-document url-prefix() {
        .heading-container-mac {
            padding: 12vw 0 5vw 0;
        }
    }
}

/* Phones */
@media only screen and (max-device-width: 450px) {
    .heading-container {
        display: none;
    }

    .heading-container-resp {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 25vw;
    }
    .sub-resp-cont {
        width: 100%;
        overflow: hidden;
    }
    .main-heading-resp1 {
        font-size: 80pt;
        height: 80px;
        position: relative;
        white-space: nowrap;
        margin-bottom: 60px;
        letter-spacing: 4.2pt;
    }

    .main-heading-resp2 {
        font-size: 80pt;
        height: 80px;
        position: relative;
        white-space: nowrap;
        margin-bottom: 60px;
        letter-spacing: 4.2pt;
    }

    .main-heading-resp2:after,
    .main-heading-resp1:after {
        border-top: 14px solid var(--white);
        position: absolute;
        content: "";
        right: 0;
        top: 42%;
        left: 0;
    }

    #sub-heading-resp {
        display: block;
        width: 2000px;
        font-size: 16pt;
        margin-bottom: 40px;
        color: var(--red);
        padding-top: 2px;
    }
    .scrolling {
        position: relative;
        -webkit-animation: scroll 30s infinite linear;
        -moz-animation: scroll 30s infinite linear;
        -o-animation: scroll 30s infinite linear;
        animation: scroll 30s infinite linear;
    }
    @keyframes scroll {
        0% {
            left: 300px;
        }
        100% {
            left: -1900px;
        }
    }
    @-webkit-keyframes scroll {
        0% {
            left: 300px;
        }
        100% {
            left: -1900px;
        }
    }

    .heading-container-mac {
        display: none;
    }

    .heading-container-resp-mac {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 18vw;
    }
    .sub-resp-cont-mac {
        width: 100%;
        overflow: hidden;
    }
    .main-heading-resp1-mac {
        font-size: 80pt;
        position: relative;
        white-space: nowrap;
        letter-spacing: 4.2pt;
    }

    .main-heading-resp2-mac {
        font-size: 80pt;
        position: relative;
        white-space: nowrap;
        margin-bottom: 30px;
        letter-spacing: 4.2pt;
    }

    .main-heading-resp2-mac:after,
    .main-heading-resp1-mac:after {
        border-top: 14px solid var(--white);
        position: absolute;
        content: "";
        right: 0;
        top: 45%;
        left: 0;
    }

    #sub-heading-resp-mac {
        display: block;
        width: 2000px;
        font-size: 16pt;
        margin-bottom: 40px;
        color: var(--red);
    }
    .scrolling-mac {
        position: relative;
        -webkit-animation: scroll 30s infinite linear;
        -moz-animation: scroll 30s infinite linear;
        -o-animation: scroll 30s infinite linear;
        animation: scroll 30s infinite linear;
    }
    @keyframes scroll {
        0% {
            left: 300px;
        }
        100% {
            left: -1900px;
        }
    }
    @-webkit-keyframes scroll {
        0% {
            left: 300px;
        }
        100% {
            left: -1900px;
        }
    }

    .timer-cont {
        font-size: 4vw;
    }
    .timer-cont-mac {
        font-size: 4vw;
    }
    .timer-cont-one {
        font-size: 5.5vw;
    }
    .timer > div {
        padding: 5vw 5vw 6vw 5vw;
    }
    .timer-mac > div {
        padding: 5vw 5vw 6vw 5vw;
    }

    #nums {
        font-size: 9vw;
        padding-bottom: 6px;
    }

    .newsletter {
        margin-top: 3vw;
        margin-bottom: 5vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter-btn {
        font-size: 4.5vw;
        padding: 2.5vw 6vw 2vw 6vw;
        margin-bottom: 20px;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .newsletter-btn:hover {
        background-color: var(--red);
        color: var(--white);
        border: 2px var(--red) solid;
    }

    .newsletter-btn-mac {
        font-size: 4.5vw;
        padding: 2.5vw 6vw 2.5vw 6vw;
        margin-bottom: 20px;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .newsletter-btn-mac:hover {
        background-color: var(--red);
        color: var(--white);
        border: 2px var(--red) solid;
    }

    @-moz-document url-prefix() {
        .heading-container-resp-mac {
            padding-top: 25vw;
        }
        .main-heading-resp1-mac {
            height: 75px;
            margin-bottom: 50px;
        }

        .main-heading-resp2-mac {
            height: 75px;
            margin-bottom: 65px;
        }
        .timer-mac > div {
            padding: 12vw 5vw 10vw 5vw;
        }
    }
}

/* iphone x */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .heading-container {
        margin-top: 4vw;
    }
    .heading-container-mac {
        margin-top: 4vw;
    }
}

/* iphone 11/11 pro max */
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
    .heading-container {
        margin-top: 4vw;
    }
    .heading-container-mac {
        margin-top: 4vw;
    }
}
@media only screen and (max-device-width: 360px) {
    @-moz-document url-prefix() {
        .main-heading-resp1-mac {
            height: 100px;
            margin-bottom: 50px;
        }
        .main-heading-resp1 {
            height: 100px;
            font-size: 78pt;
        }

        .main-heading-resp2-mac {
            height: 100px;
            margin-bottom: 80px;
        }
        .main-heading-resp2 {
            height: 100px;
            font-size: 78pt;
        }
    }
    .main-heading-resp1 {
        font-size: 78pt;
    }

    .main-heading-resp2 {
        font-size: 78pt;
    }
}
