@import url("https://use.typekit.net/mde6hik.css");

* {
    margin: 0;
    padding: 0;
}
:root {
    --black: #1c1818;
    --white: #f5f5f5;
    --red: #d45341;
}
body {
    text-align: center;
    background-color: var(--white);
    font-family: itc-avant-garde-gothic-pro, sans-serif;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #d1d1d1 var(--white);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: var(--white);
}

*::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-left: 0px solid #ffffff;
}

.ionicon {
    transition: transform 250ms;
}
.ionicon:hover {
    transform: translateY(-8px);
}

.text-line {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
}

.banner {
    display: flex;
    justify-content: center;
    font-size: 7.8125vw;
    background-color: #1c1818;
    color: var(--red);
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    height: 13.5416vw;
}

.banner-text {
    height: 6.77083vw;
}
@media only screen and (max-device-width: 450px) {
    .ionicon {
        display: none;
    }

    .banner {
        font-size: 10vw;
        height: 90px;
    }

    .banner-text {
        height: 9.8vw;
    }
}
