.sponsor-section {
    position: relative;
}

.sponsor-banner-cont {
    top: 23.4375vw;
    position: absolute;
}

.sponsor-small-cross-cont-one {
    position: absolute;
    right: 20.833vw;
    z-index: 5;
    top: 16vw;
}
.sponsor-small-cross-one {
    background: var(--red);
    height: 5.2083vw;
    position: relative;
    width: 1.0416vw;
}
.sponsor-small-cross-one:after {
    background: var(--red);
    content: "";
    height: 1.0416vw;
    left: -2.08333vw;
    position: absolute;
    top: 2.08333vw;
    width: 5.2083vw;
}

.sponsor-small-cross-cont-two {
    position: absolute;
    left: 18.229vw;
    z-index: 5;
    top: 63vw;
}
.sponsor-small-cross-two {
    background: var(--red);
    height: 5.2083vw;
    position: relative;
    width: 1.0416vw;
}
.sponsor-small-cross-two:after {
    background: var(--red);
    content: "";
    height: 1.0416vw;
    left: -2.08333vw;
    position: absolute;
    top: 2.08333vw;
    width: 5.2083vw;
}

.sponsor-content-container {
    padding-top: 6vw;
    padding-bottom: 6vw;
}

.sponsor-content-inner {
    background-color: #ffffff;
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    height: 35.416vw;
    margin-left: auto;
    margin-right: auto;
}

.sponsor-padding {
    padding: 12px;
}

.img-style {
    height: 7.8125vw;
    width: auto;
    z-index: 3;
}

.slide-container {
    background: #ffffff;
    width: 85%;
}

.photobanner1,
.photobanner2,
.photobanner3,
.photobanner4 {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: bannermove 21s linear infinite;
}

.photobanner2 {
    margin-top: 8.85416vw;
}
.photobanner3 {
    margin-top: 17.8125vw;
    margin-left: -120px;
}
.photobanner4 {
    margin-top: 26.82291vw;
}

.photobanner1 > a > img,
.photobanner2 > a > img,
.photobanner3 > a > img,
.photobanner4 > a > img {
    cursor: pointer;
    transition: transform 0.2s; /* Animation */
}

.photobanner1 > a > img:hover,
.photobanner2 > a > img:hover,
.photobanner3 > a > img:hover,
.photobanner4 > a > img:hover {
    /* border: var(--red) 2px solid; */
    cursor: pointer;
    transform: scale(1.1);
}

.photobanner1 img,
.photobanner2 img,
.photobanner3 img,
.photobanner4 img {
    margin: 0 10px;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

@media only screen and (max-device-width: 450px) {
    .sponsor-banner-cont {
        top: 230px;
        position: absolute;
    }

    .img-style {
        height: 15vw;
    }

    .sponsor-small-cross-cont-one {
        right: 12vw;
        top: 40vw;
    }

    .sponsor-small-cross-cont-two {
        position: absolute;
        left: 15vw;
        z-index: 5;
        top: 150vw;
    }

    .sponsor-content-container {
        padding-top: 10vw;
        padding-bottom: 10vw;
    }

    .sponsor-content-inner {
        max-width: 100%;
        height: 63vw;
    }

    .photobanner2 {
        margin-top: 15.2vw;
    }
    .photobanner3 {
        margin-top: 31.5vw;
    }
    .photobanner4 {
        margin-top: 46.5vw;
    }

    .photobanner1 img,
    .photobanner2 img,
    .photobanner3 img,
    .photobanner4 img {
        margin: 0 10px;
    }
    @-moz-document url-prefix() {
    }
}
