.sponsor-section {
    position: relative;
}
.sponsor-banner {
    font-size: 7.8125vw;
    padding-top: 6.77vw;
    padding-bottom: 6.77vw;
    background-color: #1c1818;
    color: var(--red);
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.sponsor-banner-text-top {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -5.729vw;
    right: 10%;
    left: 10%;
}

.sponsor-banner-text-center {
    position: absolute;
    right: 10%;
    left: 10%;
    bottom: -12.5vw;
}

.sponsor-banner-text-bottom {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -19.2708vw;
    right: 10%;
    left: 10%;
}

.sponsor-small-cross-cont-one {
    position: absolute;
    right: 20.833vw;
    z-index: 100;
    top: 7.8125vw;
}
.sponsor-small-cross-one {
    background: var(--red);
    height: 5.2083vw;
    position: relative;
    width: 1.0416vw;
}
.sponsor-small-cross-one:after {
    background: var(--red);
    content: "";
    height: 1.0416vw;
    left: -2.08333vw;
    position: absolute;
    top: 2.08333vw;
    width: 5.2083vw;
}

.sponsor-small-cross-cont-two {
    position: absolute;
    left: 18.229vw;
    z-index: 100;
    top: 33.8541vw;
}
.sponsor-small-cross-two {
    background: var(--red);
    height: 5.2083vw;
    position: relative;
    width: 1.0416vw;
}
.sponsor-small-cross-two:after {
    background: var(--red);
    content: "";
    height: 1.0416vw;
    left: -2.08333vw;
    position: absolute;
    top: 2.08333vw;
    width: 5.2083vw;
}

.sponsors-container {
    margin: 60px 0;
}

.sponsor-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 80px;
}

.sponsor-content-inner {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsor-padding {
    padding: 12px;
}

.img-style {
    height: 150px;
    width: auto;
    /* border: 2px solid var(--white); */
}

.img-style:hover {
    /* border: 2px solid var(--red); */
}

.sponsor-style {
    background: white;
    border-radius: 30px;
    padding: 20px;
    height: 1100px;
    width: 70%;
    display: block;
    margin: 0 auto;
    align-items: center;
}

.welcomeHackers {
    text-align: center;
    margin-left: 150;
    margin-right: 150;
}

@media only screen and (max-width: 1260px) {
    .sponsor-style {
        width: 85%;
        height: auto;
        padding: 10px;
    }
}

@media only screen and (max-width: 960px) {
    .sponsor-style {
        width: 95%;
        height: auto;
        padding: 10px;
    }
}
