.about-section {
    position: relative;
}
.about-banner {
    font-size: 7.8125vw;
    padding-top: 6.77vw;
    padding-bottom: 6.77vw;
    background-color: #1c1818;
    color: var(--red);
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.about-banner-text-top {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    top: 0px;
    right: 10%;
    left: 10%;
}

.about-banner-text-center {
    position: absolute;
    right: 10%;
    left: 10%;
}

.about-banner-text-bottom {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -7.8125vw;
    right: 10%;
    left: 10%;
}

.about-banner-text-bottom-mac {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -10.4vw;
    right: 10%;
    left: 10%;
}

.about-banner-text-mobile {
    display: none;
}

.about-banner-text-mobile-mac {
    display: none;
}

.about-big-cross-cont {
    position: absolute;
    left: 9.1145vw;
    z-index: 100;
    top: 15.625vw;
}
.about-big-cross {
    background: var(--red);
    height: 10.416vw;
    position: relative;
    width: 1.5625vw;
}
.about-big-cross:after {
    background: var(--red);
    content: "";
    height: 1.5625vw;
    left: -4.427vw;
    position: absolute;
    top: 4.427vw;
    width: 10.416vw;
}

.about-small-cross-cont {
    position: absolute;
    right: 7.8125vw;
    z-index: 100;
    top: 0vw;
}
.about-small-cross {
    background: var(--red);
    height: 5.2083vw;
    position: relative;
    width: 1.0416vw;
}
.about-small-cross:after {
    background: var(--red);
    content: "";
    height: 1.0416vw;
    left: -2.083vw;
    position: absolute;
    top: 2.083vw;
    width: 5.2083vw;
}

.about-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.about-cont ::before {
    content: "";
    background-image: url("./bridge.svg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -350px;
    opacity: 0.012;
    z-index: -1;
}

.about-wrapper {
    width: 60%;
    padding: 8vw 0px 10.416vw 0px;
}

.about-head {
    font-size: 6.7708vw;
    text-align: left;
    letter-spacing: 0.2vw;
    border-bottom: 0.5208vw solid var(--black);
    padding-bottom: 1.5625vw;
    width: 33vw;
}

.about-head-mac {
    font-size: 6.7708vw;
    text-align: left;
    letter-spacing: 0.2vw;
    border-bottom: 0.5208vw solid var(--black);
    width: 33vw;
}

.about-head-one {
    color: var(--red);
}

.about-head-one-mac {
    color: var(--red);
    height: 7.638vw;
}

.about-head-container {
    display: flex;
    align-items: center;
}

.about-head-two {
    color: var(--black);
    white-space: nowrap;
    height: 5.10416vw;
}

.about-head-two-mac {
    color: var(--black);
    white-space: nowrap;
}
@-moz-document url-prefix() {
    .about-head-two {
        color: var(--black);
        white-space: nowrap;
        height: 6.5vw;
    }
    .about-head-two-mac {
        height: 5.2vw;
    }
    .about-head-mac {
        padding-bottom: 2.0833333333333335vw;
    }

    .about-banner-text-bottom-mac {
        bottom: -8vw;
    }
}
.about-head-two-line {
    background-color: var(--white);
    position: absolute;
    padding: 0.364583vw 15.625vw 0.364583vw 15.625vw;
    font-size: 0px;
    color: var(--white);
}

.about-head-two-line-mac {
    background-color: var(--white);
    position: absolute;
    padding: 0.4vw 15.625vw 0.4vw 15.625vw;
    font-size: 0px;
    color: var(--white);
}

.about-para {
    font-size: 1.5625vw;
    display: flex;
    justify-content: flex-end;
    text-align: left;
    letter-spacing: 1px;
    line-height: 2.2395vw;
}
.about-para-cont {
    width: 80%;
}
.about-para-one {
    margin-top: 4vw;
}
.about-para-two {
    margin-top: 3vw;
}
.orange {
    color: var(--red);
}

@media only screen and (max-device-width: 450px) {
    .about-banner {
        font-size: 10vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
    }

    .about-cont ::before {
        bottom: -80px;
        left: -260px;
    }

    .about-banner-text-top {
        top: 5px;
    }

    .about-banner-text-center {
        top: 42px;
    }

    .about-banner-text-bottom {
        bottom: -42px;
    }

    .about-banner-text-bottom-mac {
        -webkit-text-stroke: 2px var(--red);
        color: transparent;
        position: absolute;
        bottom: -54px;
        right: 10%;
        left: 10%;
    }

    .about-banner-text-mobile {
        display: block;
        position: absolute;
        bottom: -80px;
        right: 10%;
        left: 10%;
    }

    .about-banner-text-mobile-mac {
        display: block;
        position: absolute;
        bottom: -91px;
        right: 10%;
        left: 10%;
    }

    .about-big-cross-cont {
        left: 8vw;
        top: 17vw;
    }
    .about-small-cross-cont {
        right: 6vw;
        top: 1vw;
    }

    .about-wrapper {
        width: 80%;
    }

    .about-head {
        font-size: 14vw;
        width: 80%;
        border-bottom: 4px solid var(--black);
        padding-bottom: 4vw;
    }
    .about-head-one-mac {
        color: var(--red);
        height: 16.6vw;
    }

    .about-head-mac {
        font-size: 15vw;
        width: 90%;
        border-bottom: 4px solid var(--black);
    }

    .about-head-two {
        white-space: nowrap;
        height: 10.34375vw;
    }

    .about-head-two-line {
        background-color: var(--white);
        position: absolute;
        padding: 5px 200px 3px 80px;
        font-size: 0px;
        color: var(--white);
    }

    .about-head-two-line-mac {
        padding: 1.4vw 59vw 0.4vw 15.625vw;
    }

    .about-para {
        font-size: 3.5vw;
        line-height: 5vw;
    }
    .about-para-one {
        margin-top: 8vw;
    }
    .about-para-two {
        margin-top: 5vw;
    }

    @-moz-document url-prefix() {
        .about-banner-text-center {
            top: 42px;
        }
        .about-banner-text-bottom-mac {
            bottom: -45px;
        }
        .about-banner-text-bottom {
            bottom: -46px;
        }
        .about-banner-text-mobile {
            display: block;
            position: absolute;
            bottom: -83px;
            right: 10%;
            left: 10%;
        }
        .about-head-two-mac {
            height: 12vw;
        }
        .about-head-mac {
            font-size: 15vw;
            width: 90%;
            border-bottom: 4px solid var(--black);
        }
    }
}

@media only screen and (max-device-width: 412px) {
    .about-banner-text-top {
        top: 5px;
    }

    .about-banner-text-center {
        top: 44px;
    }

    .about-banner-text-bottom {
        bottom: -42px;
    }

    .about-banner-text-mobile {
        display: block;
        position: absolute;
        bottom: -82px;
        right: 10%;
        left: 10%;
    }

    @-moz-document url-prefix() {
        .about-banner-text-top {
            top: 5px;
        }

        .about-banner-text-center {
            top: 44px;
        }

        .about-banner-text-bottom {
            bottom: -50px;
        }

        .about-banner-text-mobile {
            display: block;
            position: absolute;
            bottom: -88px;
            right: 10%;
            left: 10%;
        }
    }
}

@media only screen and (max-device-width: 384px) {
    .about-banner-text-top {
        top: 5px;
    }

    .about-banner-text-center {
        top: 44px;
    }

    .about-banner-text-bottom {
        bottom: -44px;
    }

    .about-banner-text-mobile {
        display: block;
        position: absolute;
        bottom: -82px;
        right: 10%;
        left: 10%;
    }

    @-moz-document url-prefix() {
        .about-banner-text-top {
            top: 5px;
        }

        .about-banner-text-center {
            top: 41px;
        }

        .about-banner-text-bottom {
            bottom: -40px;
        }

        .about-banner-text-mobile {
            display: block;
            position: absolute;
            bottom: -76px;
            right: 10%;
            left: 10%;
        }
    }
}
@media only screen and (max-device-width: 360px) {
    .about-banner-text-top {
        top: 5px;
    }

    .about-banner-text-center {
        top: 40px;
    }

    .about-banner-text-bottom {
        bottom: -39px;
    }

    .about-banner-text-mobile {
        display: block;
        position: absolute;
        bottom: -75px;
        right: 10%;
        left: 10%;
    }

    @-moz-document url-prefix() {
        .about-banner-text-top {
            top: 5px;
        }

        .about-banner-text-center {
            top: 39px;
        }

        .about-banner-text-bottom {
            bottom: -45px;
        }

        .about-banner-text-mobile {
            display: block;
            position: absolute;
            bottom: -79px;
            right: 10%;
            left: 10%;
        }
    }
}
