.about-section {
    position: relative;
}
.about-banner {
    font-size: 7.8125vw;
    padding-top: 6.77vw;
    padding-bottom: 6.77vw;
    background-color: #1c1818;
    color: var(--red);
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.about-banner-text-top {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    top: 0px;
    right: 10%;
    left: 10%;
}

.about-banner-text-center {
    position: absolute;
    right: 10%;
    left: 10%;
}

.about-banner-text-bottom {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -7.8125vw;
    right: 10%;
    left: 10%;
}

.about-banner-text-mobile {
    display: none;
}

.about-big-cross-cont {
    position: absolute;
    left: 9.1145vw;
    z-index: 100;
    top: 15.625vw;
}
.about-big-cross {
    background: var(--red);
    height: 10.416vw;
    position: relative;
    width: 1.5625vw;
}
.about-big-cross:after {
    background: var(--red);
    content: "";
    height: 1.5625vw;
    left: -4.427vw;
    position: absolute;
    top: 4.427vw;
    width: 10.416vw;
}

.about-small-cross-cont {
    position: absolute;
    right: 7.8125vw;
    z-index: 100;
    top: -1.5625vw;
}
.about-small-cross {
    background: var(--red);
    height: 5.2083vw;
    position: relative;
    width: 1.0416vw;
}
.about-small-cross:after {
    background: var(--red);
    content: "";
    height: 1.0416vw;
    left: -2.083vw;
    position: absolute;
    top: 2.083vw;
    width: 5.2083vw;
}

.about-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-wrapper {
    width: 60%;
    padding: 10.416vw 0px 10.416vw 0px;
}

.about-head {
    font-size: 6.7708vw;
    text-align: left;
}

.about-head-one {
    color: var(--red);
}

.about-head-two {
    color: var(--black);
    border-bottom: 0.5208vw solid var(--black);
    width: 30.7291vw;
}
.about-para {
    font-size: 1.5625vw;
    display: flex;
    justify-content: flex-end;
    text-align: left;
    letter-spacing: 1px;
    line-height: 2.2395vw;
}
.about-para-cont {
    width: 80%;
}
.about-para-one {
    margin-top: 4vw;
}
.about-para-two {
    margin-top: 3vw;
}
.orange {
    color: var(--red);
}

@media only screen and (max-device-width: 450px) {
    .about-banner {
        font-size: 10vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
    }

    .about-banner-text-top {
        top: 5px;
    }

    .about-banner-text-center {
        top: 42px;
    }

    .about-banner-text-bottom {
        bottom: -42px;
    }

    .about-banner-text-mobile {
        display: block;
        position: absolute;
        bottom: -80px;
        right: 10%;
        left: 10%;
    }

    .about-big-cross-cont {
        left: 8vw;
        top: 17vw;
    }
    .about-small-cross-cont {
        right: 6vw;
        top: 1vw;
    }

    .about-wrapper {
        width: 80%;
    }

    .about-head {
        font-size: 14vw;
    }

    .about-head-two {
        width: 80%;
    }

    .about-para {
        font-size: 3.5vw;
        line-height: 5vw;
    }
    .about-para-one {
        margin-top: 8vw;
    }
    .about-para-two {
        margin-top: 5vw;
    }
}
