.faq-section {
    position: relative;
}
#faq {
    /* padding-top: 55px; */
}
.faq-banner {
    font-size: 7.8125vw;
    padding-top: 6.77vw;
    padding-bottom: 6.77vw;
    background-color: #1c1818;
    color: var(--red);
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.faq-banner-text-top {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -0.5208vw;
    right: 10%;
    left: 10%;
}

.faq-banner-text-center {
    position: absolute;
    right: 10%;
    left: 10%;
    bottom: -7.291vw;
}

.faq-banner-text-bottom {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -14.0625vw;
    right: 10%;
    left: 10%;
}

.faq-banner-text-mobile {
    display: none;
}

.faq-banner-text-bottom-mac {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -14.0625vw;
    right: 10%;
    left: 10%;
}

.faq-banner-text-mobile-mac {
    display: none;
}

.faq-big-cross-cont-one {
    position: absolute;
    left: 15.625vw;
    z-index: 5;
    top: 2vw;
}
.faq-big-cross-one {
    background: var(--red);
    height: 10.416vw;
    position: relative;
    width: 1.5625vw;
}
.faq-big-cross-cont-one:after {
    background: var(--red);
    content: "";
    height: 1.5625vw;
    left: -4.427vw;
    position: absolute;
    top: 4.427vw;
    width: 10.416vw;
}

.faq-big-cross-cont-two {
    position: absolute;
    right: 9.1145vw;
    z-index: 5;
    bottom: -11.4375vw;
}
.faq-big-cross-two {
    background: var(--red);
    height: 10.416vw;
    position: relative;
    width: 1.5625vw;
}
.faq-big-cross-cont-two:after {
    background: var(--red);
    content: "";
    height: 1.5625vw;
    left: -4.427vw;
    position: absolute;
    top: 4.427vw;
    width: 10.416vw;
}

.faq-small-cross-cont {
    position: absolute;
    right: 23.958vw;
    z-index: 5;
    bottom: 22.3958vw;
}
.faq-small-cross {
    background: var(--red);
    height: 5.2083vw;
    position: relative;
    width: 1.0416vw;
}
.faq-small-cross:after {
    background: var(--red);
    content: "";
    height: 1.0416vw;
    left: -2.0833vw;
    position: absolute;
    top: 2.0833vw;
    width: 5.2083vw;
}

.faq-cont {
    font-size: 1.29vw;
    display: flex;
    justify-content: center;
    text-align: left;
    letter-spacing: 1px;
    line-height: 2.2395vw;
    padding: 7vw 0px;
}

.faq-wrapper {
    width: 75%;
    margin-right: -6%;
}

.faq-x {
    font-weight: 900;
    /* color: var(--red); */
    height: 1.8229166666666667vw;
}

.rc-collapse {
    display: flex;
    flex-wrap: wrap;
}

.rc-collapse-item {
    flex: 50%;
    position: relative;
}
.rc-collapse-header {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 10px 0 10px 1.0416vw;
    border-bottom: var(--white) 2px solid;
}

.rc-collapse-header:hover {
    background-color: var(--red);
    color: var(--white);
    /* transition: 0.25s ease; */
}
.rc-collapse-anim-active {
    transition: height 0.2s ease-out;
}

.rc-collapse-content {
    overflow: hidden;
    text-align: left;
    line-height: 1.6vw;
    font-size: 1.1vw;
    padding: 1.0416vw 2.6041vw 1.0416vw 30px;
    position: absolute;
    background-color: var(--red);
    color: var(--white);
    z-index: 4;
}
.rc-collapse-item-active {
    background-color: var(--red);
    color: var(--white);
}
.rc-collapse-content-inactive {
    display: none;
}

#faq-link {
    text-decoration: none !important;
    color: var(--black) !important;
    font-weight: 500 !important;
}

#faq-link:hover {
    color: var(--white) !important;
}

@media only screen and (max-device-width: 450px) {
    .faq-banner {
        font-size: 10vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
    }

    .faq-banner-text-top {
        top: 65px;
    }

    .faq-banner-text-center {
        top: 103px;
    }

    .faq-banner-text-bottom {
        bottom: -100px;
    }

    .faq-banner-text-mobile {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -138px;
    }

    .faq-banner-text-bottom-mac {
        -webkit-text-stroke: 2px var(--red);
        color: transparent;
        position: absolute;
        bottom: -110px;
        right: 10%;
        left: 10%;
    }

    .faq-banner-text-mobile-mac {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -149px;
    }

    .faq-big-cross-cont-one {
        top: 12vw;
    }

    .faq-big-cross-cont-two {
        right: 9.1145vw;
        bottom: 25vw;
    }

    .faq-small-cross-cont {
        right: 23.958vw;
        bottom: 80vw;
    }

    .faq-cont {
        font-size: 3.5vw;
        line-height: 5vw;
    }
    .faq-wrapper {
        width: 90%;
        margin-right: 0%;
    }

    .faq-x {
        font-weight: 900;
        /* color: var(--red); */
        height: 15px;
    }

    .rc-collapse {
        display: flex;
        flex-wrap: wrap;
    }

    .rc-collapse-item {
        flex: 100%;
    }

    .rc-collapse-header {
        padding: 6px 0 4px 5vw;
        border-bottom: var(--white) 1px solid;
    }

    .rc-collapse-anim-active {
        transition: height 0.2s ease-out;
    }

    .rc-collapse-content {
        font-size: 3.5vw;
        line-height: 5vw;
        padding: 10px 10px 10px 25px;
    }
    @-moz-document url-prefix() {
        .faq-banner-text-top {
            top: 75px;
        }
        .faq-banner-text-center {
            top: 115px;
        }

        .faq-banner-text-bottom {
            bottom: -120px;
        }

        .faq-banner-text-mobile {
            display: block;
            position: absolute;
            right: 10%;
            left: 10%;
            bottom: -160px;
        }
        .faq-banner-text-bottom-mac {
            -webkit-text-stroke: 2px var(--red);
            color: transparent;
            position: absolute;
            bottom: -110px;
            right: 10%;
            left: 10%;
        }

        .faq-banner-text-mobile-mac {
            display: block;
            position: absolute;
            right: 10%;
            left: 10%;
            bottom: -149px;
        }
        .about-head-two {
            white-space: nowrap;
            height: 13vw;
        }
        .about-head-two-line {
            width: 50px;
        }
    }
}
@media only screen and (max-device-width: 412px) {
    .faq-banner-text-top {
        top: 62px;
    }

    .faq-banner-text-center {
        top: 100px;
    }

    .faq-banner-text-bottom {
        bottom: -98px;
    }

    .faq-banner-text-mobile {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -137px;
    }
    @-moz-document url-prefix() {
        .faq-banner-text-top {
            top: 70px;
        }

        .faq-banner-text-center {
            top: 108px;
        }

        .faq-banner-text-bottom {
            bottom: -113px;
        }

        .faq-banner-text-mobile {
            display: block;
            position: absolute;
            right: 10%;
            left: 10%;
            bottom: -151px;
        }
        .about-head-two-line {
            margin-top: 2px;
        }
    }
}

@media only screen and (max-device-width: 384px) {
    .faq-banner-text-top {
        top: 60px;
    }

    .faq-banner-text-center {
        top: 98px;
    }

    .faq-banner-text-bottom {
        bottom: -97px;
    }

    .faq-banner-text-mobile {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -135px;
    }
    @-moz-document url-prefix() {
        .faq-banner-text-top {
            top: 65px;
        }

        .faq-banner-text-center {
            top: 101px;
        }

        .faq-banner-text-bottom {
            bottom: -99px;
        }

        .faq-banner-text-mobile {
            display: block;
            position: absolute;
            right: 10%;
            left: 10%;
            bottom: -135px;
        }
    }
}
@media only screen and (max-device-width: 360px) {
    .faq-banner-text-top {
        top: 50px;
    }

    .faq-banner-text-center {
        top: 85px;
    }

    .faq-banner-text-bottom {
        bottom: -83px;
    }

    .faq-banner-text-mobile {
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: -119px;
    }
    @-moz-document url-prefix() {
        .faq-banner-text-top {
            top: 65px;
        }

        .faq-banner-text-center {
            top: 100px;
        }

        .faq-banner-text-bottom {
            bottom: -105px;
        }

        .faq-banner-text-mobile {
            display: block;
            position: absolute;
            right: 10%;
            left: 10%;
            bottom: -139px;
        }
        .about-head-two-line {
            margin-top: -10px;
        }
    }
}
