.about-section {
    position: relative;
}
.about-banner {
    font-size: 150px;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #1c1818;
    color: var(--red);
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.banner-text-top {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    top: 0px;
    right: 10%;
    left: 10%;
}

.banner-text-center {
    position: absolute;
    right: 10%;
    left: 10%;
}

.banner-text-bottom {
    -webkit-text-stroke: 2px var(--red);
    color: transparent;
    position: absolute;
    bottom: -150px;
    right: 10%;
    left: 10%;
}

.big-cross-cont {
    position: absolute;
    left: 175px;
    z-index: 100;
    top: 300px;
}
.big-cross {
    background: var(--red);
    height: 200px;
    position: relative;
    width: 30px;
}
.big-cross:after {
    background: var(--red);
    content: "";
    height: 30px;
    left: -85px;
    position: absolute;
    top: 85px;
    width: 200px;
}

.small-cross-cont {
    position: absolute;
    right: 150px;
    z-index: 100;
    top: -30px;
}
.small-cross {
    background: var(--red);
    height: 100px;
    position: relative;
    width: 20px;
}
.small-cross:after {
    background: var(--red);
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
}

.margin {
    margin-top: 900px;
}
