.placeholder-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.heading-container {
    position: relative;
    margin-top: 45px;
    padding: 5.05vw 0 0 0;
}

#main-heading {
    font-size: 20vw;
    letter-spacing: 0.6vw;
    color: #1c1818;
    white-space: nowrap;
}

#main-heading:after {
    background-color: #f5f5f5;
    position: absolute;
    font-size: 1.14vw;
    content: "SF HACKS CONSTITUTES DIVERGENCE / AN INCLUSIVE PLACE THAT HELPS PEOPLE FIT IN AND FEEL SAFE / WE HELP DISCOVER WHAT INNOVATIVE TECHNOLOGY HAS TO OFFER";
    right: 0;
    top: 54.4%;
    left: 0;
    letter-spacing: 0;
    padding: 0.625vw 0 0.46875vw 0;
    color: #d45341;
}
#main-heading-resp {
    display: none;
}

#sub-heading {
    display: none;
}

.sub-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin-left: 5.2vw;
}

.info-question {
    font-size: 1.04vw;
    letter-spacing: 0.8px;
    font-weight: 100;
}

.info-answer {
    padding-top: 0.78vw;
    font-size: 1.56vw;
    color: #d45341;
    letter-spacing: 1.2px;
    line-height: 21px;
}

.coming-soon {
    margin-top: 7vw;
    font-size: 2.6vw;
    letter-spacing: 2px;
    color: #1c1818;
}
.footer {
    margin-top: 6vw;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-style {
    display: flex;
    justify-content: center;
}

.social-icons {
    margin: 7.5px;
    /* width: 2.6vw; */
}
.footer-email {
    font-size: 1.56vw;
    letter-spacing: 1.2px;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
}

/* Laptops */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Tablets */
@media only screen and (min-device-width: 450px) and (max-device-width: 768px) {
}

/* Phones */
@media only screen and (max-device-width: 450px) {
    .heading-container {
        margin-top: 5vw;
        overflow: hidden;
        width: 100%;
    }
    #main-heading {
        display: none;
    }
    #main-heading-resp {
        display: flex;
        flex-direction: column;
        font-size: 80pt;
        width: 100%;
        position: relative;
        overflow: hidden;
        letter-spacing: 4.2pt;
        line-height: 120pt;
    }
    .main-heading-resp-line1 {
        white-space: nowrap;
    }
    .main-heading-resp-line1:after {
        background-color: #f5f5f5;
        position: absolute;
        content: "";
        right: 0;
        top: 23.3%;
        left: 0;
        letter-spacing: 0;
        padding: 1.5vw 0 1.5vw 0;
        color: #d45341;
    }
    .main-heading-resp-line2 {
        white-space: nowrap;
    }
    .main-heading-resp-line2:after {
        background-color: #f5f5f5;
        position: absolute;
        content: "";
        right: 0;
        top: 73.3%;
        left: 0;
        letter-spacing: 0;
        padding: 1.5vw 0 1.5vw 0;
        color: #d45341;
    }

    #sub-heading {
        display: block;
        margin-top: 40px;
        font-size: 16pt;
        text-transform: uppercase;
        padding: 0;
        margin-left: 0;
        width: 2000px;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);
        color: #d45341;
    }
    .scrolling {
        position: relative;
        -webkit-animation: scroll 30s infinite linear;
        -moz-animation: scroll 30s infinite linear;
        -o-animation: scroll 30s infinite linear;
        animation: scroll 30s infinite linear;
    }
    @keyframes scroll {
        0% {
            left: 300px;
        }
        100% {
            left: -1900px;
        }
    }
    @-webkit-keyframes scroll {
        0% {
            left: 300px;
        }
        100% {
            left: -1900px;
        }
    }
    .sub-info {
        width: 80%;
        margin-left: 0vw;
        margin-top: 80px;
    }
    .info-question {
        font-size: 10pt;
        letter-spacing: 0.8px;
        font-weight: 100;
    }

    .info-answer {
        padding-top: 12px;
        font-size: 12pt;
        color: #d45341;
        letter-spacing: 1.2px;
        text-align: left;
    }

    .coming-soon {
        margin-top: 80px;
        font-size: 20.5pt;
        letter-spacing: 1.08pt;
        color: #1c1818;
    }
    .footer {
        margin-top: 80px;
        padding-bottom: 5px;
        flex-direction: column;
        width: 100%;
        position: none;
        bottom: none;
        left: none;
    }
    .social-icons {
        margin: 6.5px;
        width: 35px;
    }
    .resp-footer {
        display: none;
    }
    .footer-email {
        margin-top: 4px;
        font-size: 13pt;
        letter-spacing: 0.5pt;
    }
}

/* iphone x */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .heading-container {
        margin-top: 4vw;
    }
    #sub-heading {
        margin-top: 30px;
    }
    .sub-info {
        width: 90%;
        margin-left: 10px;
        margin-top: 80px;
    }
    .footer {
        margin-top: 65px;
    }
}

/* iphone 11/11 pro max */
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
    .heading-container {
        margin-top: 4vw;
    }
    #sub-heading {
        margin-top: 30px;
    }
    .sub-info {
        width: 90%;
        margin-left: 10px;
        margin-top: 130px;
    }
    .coming-soon {
        margin-top: 95px;
    }
}
